<h1> CLUB ENTRIES </h1>
<div *ngIf="stats" class="cards-container">
  <app-insight-card [label]="'ENTREES'" [value]="stats.in.sum"></app-insight-card>
  <app-insight-card [label]="'SORTIES'" [value]="stats.out.sum"></app-insight-card>
  <app-insight-card [label]="'INTERIEUR'" [value]="stats.in.sum - stats.out.sum"></app-insight-card>
</div>
<div class="charts-container">
  <div>
    <h2>ENTREES</h2>
    <ngx-charts-pie-chart
      [view]="chartConf.view"
      [results]="chartConf.results"
      [legend]="chartConf.showLegend"
      [explodeSlices]="chartConf.explodeSlices"
      [labels]="chartConf.showLabels"
      [doughnut]="chartConf.doughnut"
      [gradient]="chartConf.gradient"
      [customColors]="chartConf.customColors">
    </ngx-charts-pie-chart>
  </div>
  <div>
    <h2>MOYENNES PAR ENTREES</h2>
    <ngx-charts-pie-chart
      [view]="chartConf.view"
      [results]="resultInAverage"
      [legend]="chartConf.showLegend"
      [explodeSlices]="chartConf.explodeSlices"
      [labels]="chartConf.showLabels"
      [doughnut]="chartConf.doughnut"
      [gradient]="chartConf.gradient"
      [customColors]="chartConf.customColors">
    </ngx-charts-pie-chart>
  </div>
  <div>
    <h2>SORTIE</h2>
    <ngx-charts-pie-chart
      [view]="chartConf.view"
      [results]="resultOut"
      [legend]="chartConf.showLegend"
      [explodeSlices]="chartConf.explodeSlices"
      [labels]="chartConf.showLabels"
      [doughnut]="chartConf.doughnut"
      [gradient]="chartConf.gradient"
      [customColors]="chartConf.customColors">
    </ngx-charts-pie-chart>
  </div>
  <div>
    <h2>MOYENNES PAR SORTIE</h2>
    <ngx-charts-pie-chart
      [view]="chartConf.view"
      [results]="resultOutAverage"
      [legend]="chartConf.showLegend"
      [explodeSlices]="chartConf.explodeSlices"
      [labels]="chartConf.showLabels"
      [doughnut]="chartConf.doughnut"
      [gradient]="chartConf.gradient"
      [customColors]="chartConf.customColors">
    </ngx-charts-pie-chart>
  </div>
</div>
