.insight-card {
  background-color: whitesmoke;
  box-shadow: black 1px 1px;
  width: 200px;
  height: 200px;
  padding: 40px;
}
.insight-card {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insight-value {
  text-align: right;
  font-size: 4em;
}
